doctype html
html
  head
    title= 'Trans'
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/material.min.css')
    script(src='/javascripts/jquery.min.js')
    script(src='/javascripts/lodash.min.js')
    script(src='/javascripts/material.min.js')
    block extendHead
  body
    block content
