doctype html
html
  head
    title= "Trans"
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/jquery.min.js')
    script(src='/javascripts/lodash.min.js')
  body
    block content
